@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+New:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "Courier New", monospace;
  --bg-bg: #f8f9fa; /* Light background color */
  --bg-bg-dark: #343a40; /* Dark background color */
}

body {
  margin: 0;
  padding: 0;
}
